  div{ border: 1px solid black;}

  #main-wrapper {
}

#content-wrapper {
  margin: 1%;
}

#header {
  text-align: center;
  border: solid;
  background-color: gray;
}
#main-menu {
  width: 50%;
  float: left;
}

#content {
  float: left;
  width: 69%;
  display: block;
  border-style: solid;
  border-color: red green blue yellow;
  background-color: lightblue;

}

#right-menu {
  display: block;
  width: 30%;
  float: right;
  border-style: solid;
  border-color: green red yellow blue;
  background-color: lightgreen;

}

.scroll {
  width: 540px;
  height: 270px;
  overflow-y: scroll;
}


.img-right {
  max-width: 40%;
  float: right;
  margin: 1%;
}

#footr {
  display: block;
}

.footer-column {
  margin-top: 1%;
  float: left;
  text-align: center;
  width: 33.33333333%;
  background-color: red;
}
.footer-column3 {
  margin-top: 1%;
}
